/* seteo */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

/* header */
header nav ul a{
  background-color: rgba(0,0,0,0);
  color:  #fff;
  transition: 1s; 
  font-size: 18px;
  margin-right: 1.5rem;
}

/* clases reutilizables */
.black{
  background-color:#393232;
  color: #fff;
  transition: 1s;
}

.black-toggle{
  background-color:#393232;
  color: #fff;
}

/* img{
  width: 3vw;
  height: 3vh;
} */

/* section-home */
.section-home figure{
  /* background-image: url('https://source.unsplash.com/feXpdV001o4'); */
  background-color: #000000;
  height: 70vh;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.8;
}

.section-home h1{
  position: relative;
  top: 12rem;
  bottom: auto;
  color: #fff;
  font-weight: 600;
}

#wrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.ball {
  pointer-events: none;
  position: absolute; 
  width: 20vw;
  height: 20vh;
  border-radius: 50%; 
  background: gray;
  animation: implode 1s ease-in-out;
  animation-fill-mode: both;
  opacity: .5;
}

@keyframes implode {
  100% {transform: scale(0)}
}
/* fin section-home */

.section-about img{
  border: 0.1rem solid #000;
  padding: 0.3rem;
}

img[alt="about-img"]{
  width: 50vw;
  margin-top:0.6rem;
  max-width: 100%;
}

.section-about h4{
  text-align: justify;
  margin: 1rem;
}
/* fin section-about */

.section-skills{
  height: 40vh;
}

.section-skills img{
  /* width: 5vw; */
  padding-right: 2rem; 
  margin-top: 4rem;
  height: 5vh;
  text-align: center;
}

hr { 
  border-bottom: 0.2rem solid #8D6262; 
  border-top: 1px solid #8D6262; 
  margin-bottom: 1rem;
  border-left:none; 
  border-right:none; 
  height: 0.5vh; 
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 2rem;
}

/* .hexagono {
  position: relative;
  display: inline-block;
  margin: 1px 18px;
  background-color: hsl(220, 75%, 75%);
  text-align: center;
}
.hexagono,.hexagono::before,.hexagono::after{
   width: 67px;
  height: 116px;
  border-radius: 20%/5%;
}
.hexagono, .hexagono::before, .hexagono::after {
  width: 67px;
  height: 116px;
  border-radius: 20%/5%;
}
.hexagono::before {
  background-color: inherit;
  content: "";
  position: absolute;
  left: 0;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}
.hexagono::after {
  background-color: inherit;
  content: "";
  position: absolute;
  left: 0;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}
.hexagono:nth-child(even) {
  top: 59px;
}
.hexagono:hover {
  color: rgb(57, 191, 215);
  background: rgb(247, 247, 247);
} */

/* section-project */

.section-project {
  margin-top: 3rem;
  /* margin-bottom: 5rem;  */
  /* background-color: rgba(193, 216, 235, 0.8); */
}

.section-project .btn{
  margin-top: 1rem;
  
}

.section-project img{
  width: 3vw;
  height: 5vh;
}
/* fin section-project */

/* section-contact */
.section-contact{
  height: 25vh;
  margin-top:3rem;
  /* background-color: hotpink; */
}

.section-contact i{
  padding-right: 1.2rem;
  color: #383130;
  margin-top: 1.5rem;
}

.section-contact i:hover{
  transition: 1s;
  color:#837a76;
}
/* fin section-contact */

/*footer*/
footer {
  padding-top: 0.3rem;
}
/* fin footer */

/* media */
@media screen and (min-width:768px){
}

@media screen and (min-width:991px){
  /* header */
  .logo {
    margin-right: 20rem;
    margin-left: auto;
  }

  /* section-about */
  img[alt="about-img"]{
    margin-top:0.6rem;
    width: 20vw;
    height: 40vh;
  }

  hr { 
    width: 10%;
  }

   .section-about{
    height: 60vh;
  }

  .section-about h4{
    margin-top: 4rem; 
    text-align: justify;
    line-height: 2rem;
  }

  /* .section-skills{
    height: 60vh;
  }

  .section-project {
    height: 60vh;
  }

  .section-contact{
    margin-top: 30rem;
    height: 30vh;
  }

  hr { 
    width: 20%;
  } 

  .hexagono {
    margin-top: 3rem;
    margin-left: 20rem;
  }  */
}