* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}


/* header */
header nav ul a{
  background-color: rgba(0,0,0,0);
  color:  #fff;
  transition: 1s; 
  margin-right: 1rem;
  font-size: 18px;
}

/* clases reutilizables */
.black{
  background-color:#000;
  color: #fff;
  transition: 1s;
}

.black-toggle{
  background-color:#000;
  color: #fff;
}


/* section-home */
.section-home figure{
  background-image: url('../assets/images/lap.jpg');
  height: 70vh;
  width: 98.9vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter:brightness(0.4);
}

.section-home h1{
  position: relative;
  top: 12rem;
  bottom: auto;
  color: #fff;
  font-weight: 600;
}
/* fin section-home */

/* section-about */
img[alt="about-img"]{
  width: 50vw;
}
/* fin section-about */

/* section-contact */
.section-contact i{
  padding-right: 1.2rem;
  color: chocolate;
}

.section-contact i:hover{
  transition: 1s;
  color: brown;
}
/* fin section-contact */

/* section-project */
.section-project{
  background-image: url('../assets/images/miku.jpg');
  height: 100vh;
  width: 98.9vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter:brightness(0.4);
}
/* fin section-project */

/*footer*/

/* footer {
  position: fixed;
  bottom: 0;
  width: 100%;
} */

/* fin footer */

@media screen and (min-width:991px){
/* header */
  .logo {
    margin-right: 20rem;
    margin-left: auto;
  }

  /* section-about */
  img[alt="about-img"]{
    margin-top:0.6rem;
    width: 20vw;
    height: 40vh;
  }

  .section-about h4{
    margin-top: 3rem; 
  }

  
  /* section-contact */
 .section-contact i{
   padding: 4rem;
   color: chocolate;
 }

 
}