* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}


/* header */
header nav ul a{
  background-color: rgba(0,0,0,0);
  color:  #fff;
  transition: 1s; 
  margin-right: 1rem;
  font-size: 18px;
}

/* clases reutilizables */
.black{
  background-color:#000;
  color: #fff;
  transition: 1s;
}

.black-toggle{
  background-color:#000;
  color: #fff;
}


/* section-home */
.section-home figure{
  background-image: url('../assets/images/lap.jpg');
  height: 70vh;
  width: 98.9vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter:brightness(0.4);
}

.section-home h1{
  position: relative;
  top: 12rem;
  bottom: auto;
  color: #000;
  font-weight: 600;
}


/* section-about */

/*style footer*/


#text-1{
  top: auto;
  bottom: 15px;
}

#text-2{
  top: auto;
  bottom: 25px;
}

#text-2 i:hover{
  background-color: #fff;
  color: #18bc9c;
  transition-duration: 0.5s;
}

#text-3{
  top: 8px;
  bottom: auto;
  left: 20px;
}

#text-3 a{
  cursor: pointer;
  color :#18bc9c;
}

#text-3 p a:hover{
  cursor: pointer;
  text-decoration: underline;
}

#text-4{
  padding: 25px;
  font-family: 'Lato', sans-serif;  
  text-align: center;
}

img[alt="about-img"]{
  width: 50vw;
}



/* fin section-home */

/* section-about */
@media screen and (min-width:991px){
/* header */
  .logo {
    margin-right: 20rem;
    margin-left: auto;
  }

  img[alt="about-img"]{
    margin-top:0.6rem;
    width: 20vw;
    height: 40vh;
  }

  /* section-about */
  .section-about h4{
    margin-top: 3rem; 
  }
}